{# templates/contacto.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>
    <h1>Página de Contacto</h1>
    <p>¡Gracias por visitar nuestra página de contacto!</p>
</body>
</html>
